RewriteEngine On   

RewriteRule ^login/?$   		   			  									login.php			    									[NC,L]
RewriteRule ^daftar/?$  		   			  									daftar.php													[NC,L]
RewriteRule ^members/?$	   														members/dashboard.php										[NC,L]
RewriteRule ^members/perusahaan/utama/?$	   									members/perusahaan1.php									[NC,QSA,L]
RewriteRule ^members/perusahaan/utama/([0-9]+)/?$	   							members/perusahaan1.php?id=$1								[NC,L]
RewriteRule ^members/perusahaan/akta/?$	   										members/perusahaan2.php										[NC,L]
RewriteRule ^members/perusahaan/akta/perusahaan2_upload		 					members/perusahaan2_upload.php 							[NC,QSA,L]
RewriteRule ^members/perusahaan/akta/([0-9]+)/?$	   							members/perusahaan2.php?id=$1							[NC,QSA,L]
RewriteRule ^members/perusahaan/pengurus/?$										members/perusahaan3.php										[NC,L]
RewriteRule ^members/perusahaan/pengurus/([0-9]+)/?$	   						members/perusahaan3.php?id=$1							[NC,QSA,L]
RewriteRule ^members/perusahaan/pemilik/?$										members/perusahaan4.php										[NC,L]
RewriteRule ^members/perusahaan/pemilik/([0-9]+)/?$	   							members/perusahaan4.php?id=$1							[NC,QSA,L]
RewriteRule ^members/perusahaan/ijin/?$											members/perusahaan5.php										[NC,L]
RewriteRule ^members/perusahaan/ijin/([0-9]+)/?$	   							members/perusahaan5.php?id=$1							[NC,QSA,L]
RewriteRule ^members/keluar/?$													members/keluar.php											[NC,L]
RewriteRule ^members/perusahaan/utama/template/typeahead/typeahead-popup.html$	assets/template/typeahead/typeahead-popup.html				[NC,L]
RewriteRule ^members/perusahaan/utama/template/typeahead/typeahead-match.html$	assets/template/typeahead/typeahead-match.html				[NC,L]
RewriteRule ^members/perusahaan/utama/template/alert/alert.html$					assets/template/alert/alert.html				[NC,L]

RewriteRule ^api/v1/users/?$    			  									api/v1/users.php											[NC,L]
RewriteRule ^api/v1/users/([0-9]+)/?$    										api/v1/users.php?id=$1    								[NC,QSA,L]
RewriteRule ^api/v1/utama/?$			   										api/v1/utama.php 		  								[NC,QSA,L]
RewriteRule ^api/v1/utama/([0-9]+)/?$   										api/v1/utama.php?id=$1  								[NC,QSA,L]
RewriteRule ^api/v1/akta/?$			   											api/v1/akta.php  										[NC,QSA,L]
RewriteRule ^api/v1/akta/([0-9]+)/?$   											api/v1/akta.php?id=$1  									[NC,QSA,L]
RewriteRule ^api/v1/pengurus/?$   												api/v1/pengurus.php 	 								[NC,QSA,L]
RewriteRule ^api/v1/pengurus/([0-9]+)/?$   										api/v1/pengurus.php?id=$1  								[NC,QSA,L]
RewriteRule ^api/v1/pemilik/?$			   										api/v1/pemilik.php  									[NC,QSA,L]
RewriteRule ^api/v1/pemilik/([0-9]+)/?$   										api/v1/pemilik.php?id=$1  								[NC,QSA,L]
RewriteRule ^api/v1/ijin/([0-9]+)/?$   											api/v1/ijin.php?id=$1  									[NC,QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule .? /404.php [L]
